@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'FuturaPro';
    src: url('/src/fonts/futura_font/Futura_bk_book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "FuturaPro",sans-serif;
}

.parallelogram {
    transform: skewX(-20deg);
}
